body{
  width: 100%;
  margin: auto 10%;

}

#my-demo {
    margin:0 0 1em;
}

#myTextInput, #myTextInput2 {
    width:96px;
    display: none;
}

.yui3-dial-label-string{
  display: none;
}
